* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}


header {
    background: linear-gradient(to right, #ff7f50, #ff1493);
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.sidebar {
    background: #ffebcd;
    padding: 15px;
    position: fixed;
    width: 200px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: #d2691e;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar a {
    color: #d2691e;
    text-decoration: none;
}

/* Estilo del contenido principal */
main {
    margin-left: 220px; /* Para evitar que el contenido se superponga con la barra lateral */
    padding: 20px;
}

h2 {
    color: #ff1493;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Estilo del formulario */
form {
    background: #ffebcd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #ff1493;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #ff7f50;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #c784f3ec;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
